In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from scipy.sparse import csc_matrix

In [102]:
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/home/harsh/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [103]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [104]:
books.drop(['bookAuthor','yearOfPublication','publisher','imageUrlS','imageUrlM','imageUrlL'], axis=1, inplace =True)

In [105]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [106]:
books.head()

         ISBN                                          bookTitle
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [107]:
ratingsDataFrame = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].count()).reset_index().rename(columns ={'bookRating':'RatingCount'})

In [108]:
ratingsDataFrame.head()

          ISBN  RatingCount
0   0330299891            2
1   0375404120            2
2   0586045007            1
3   9022906116            2
4   9032803328            1

In [109]:
len(ratingsDataFrame)

340556

In [110]:
len(ratingsDataFrame['ISBN'].unique())

340556

In [111]:
ratings = ratings.merge(ratingsDataFrame, on='ISBN')

In [112]:
ratings.sort_values('RatingCount', ascending=True)

         userID         ISBN  bookRating  RatingCount
1149779  276723  05162443314           8            1
988467   127984   3596131847           0            1
988466   127984   3453113632           3            1
988463   127967   8886845006           6            1
988462   127967   880438073X           8            1
...         ...          ...         ...          ...
10981     73394   0971880107           0         2502
10982     73445   0971880107           0         2502
10983     73490   0971880107           0         2502
10976     72992   0971880107           0         2502
12682    262934   0971880107           2         2502

[1149780 rows x 4 columns]

In [113]:
ratings[ratings['userID']==276925]

       userID        ISBN  bookRating  RatingCount
6932   276925  0006511929           0           12
6944   276925  002542730X          10          171
7115   276925  0060520507           0           24
7139   276925  0060930934           0           20
7159   276925  0060951303           0           16
...       ...         ...         ...          ...
13111  276925  8496246140           0            5
13116  276925  8497931467           0            2
13118  276925  950491036X          10           23
13141  276925  9508521481           0            1
13142  276925  9871138016           0           12

[108 rows x 4 columns]

In [114]:
userCount1 = ratings['userID'].value_counts()
userCount1[userCount1>200]

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
28634       201
188951      201
9856        201
268622      201
274808      201
Name: userID, Length: 899, dtype: int64

In [115]:
final_rating = ratings[ratings['RatingCount']>100]

In [116]:
userCount2 = ratings['userID'].value_counts()
userCount2[userCount2>200]

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
28634       201
188951      201
9856        201
268622      201
274808      201
Name: userID, Length: 899, dtype: int64

In [117]:
final_rating = final_rating.merge(books, on='ISBN')

In [119]:
userCount3 = final_rating['userID'].value_counts()
userCount3[userCount3>200]

11676     647
35859     343
16795     294
76352     288
23768     257
60244     254
232131    252
153662    251
55492     241
102967    240
238120    240
21014     238
78783     236
204864    233
230522    230
43246     221
185233    218
52584     210
135149    208
198711    207
Name: userID, dtype: int64

In [120]:
len(final_rating)

136423

In [121]:
final_rating.drop_duplicates(['userID','ISBN'], inplace=True)

In [122]:
len(final_rating)

136423

In [123]:
userRatingCount = final_rating['userID'].value_counts()

In [135]:
userswithMoreRating = userRatingCount[userRatingCount>70].index

In [138]:
type(userswithMoreRating)

pandas.core.indexes.numeric.Int64Index

In [140]:
len(final_rating)

136423

In [142]:
final_rating = final_rating[final_rating['userID'].isin(userswithMoreRating)]

In [143]:
len(final_rating)

27364

In [146]:
userfromUSorCanada = pd.Series(users[users['Location'].str.contains('usa|canada')]['userID'], dtype = 'int32')

In [148]:
type(userfromUSorCanada)

pandas.core.series.Series

In [149]:
len(final_rating)

27364

In [150]:
final_rating = final_rating[final_rating['userID'].isin(userfromUSorCanada)]

In [151]:
len(final_rating)

26113

In [152]:
final_rating.head()

    userID        ISBN  bookRating  RatingCount     bookTitle
1   278418  0446520802           0          116  The Notebook
3     3363  0446520802           0          116  The Notebook
12   23768  0446520802           6          116  The Notebook
16   28204  0446520802           0          116  The Notebook
38  102967  0446520802           0          116  The Notebook

In [158]:
final_rating = final_rating.drop_duplicates(['userID', 'bookTitle'])

In [159]:
len(final_rating)

25854

In [163]:
pivotTable = final_rating.pivot(index = 'bookTitle', columns='userID', values='bookRating').fillna(0)

In [164]:
pivotTable

userID,3363,6251,6563,6575,7346,11601,12538,13273,13552,14422,...,268330,269566,269719,271284,271448,273979,274308,275970,277427,278418
bookTitle,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
from scipy.sparse import csc_matrix
matrix = csc_matrix(pivotTable.values)

In [166]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine', algorithm='brute')

In [167]:
model.fit(matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [168]:
query_index = np.random.choice(pivotTable.shape[0])

In [169]:
query_index

564

In [178]:
pivotTable.index[query_index]

'The Reef'

In [171]:
distances, indices = model.kneighbors(pivotTable.iloc[query_index,:].values.reshape(1,-1), n_neighbors=6)

In [174]:
distances

array([[0.        , 0.        , 0.25259068, 0.38041445, 0.4616181 ,
        0.47148358]])

In [175]:
distances.flatten()

array([0.        , 0.        , 0.25259068, 0.38041445, 0.4616181 ,
       0.47148358])

In [173]:
len(distances.flatten())

6

In [180]:
for i in range(len(distances.flatten())):
    print(pivotTable.index[indices.flatten()[i]])

1984
One True Thing
The Alchemist: A Fable About Following Your Dream
American Psycho (Vintage Contemporaries)
Foucault's Pendulum
A Wrinkle in Time

In [179]:
distances, indices = model.kneighbors(pivotTable.iloc[0,:].values.reshape(1,-1), n_neighbors=6)

In [180]:
for i in range(len(distances.flatten())):
    print(pivotTable.index[indices.flatten()[i]])

1984
One True Thing
The Alchemist: A Fable About Following Your Dream
American Psycho (Vintage Contemporaries)
Foucault's Pendulum
A Wrinkle in Time